<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Chat </title>
    
    <link rel="stylesheet" type="text/css" href="css/chat.css">
</head>
<body>
	<div id="page-container">
		<div id="username-select-container">
			<div id="username-enter">
				<h3> Selecionar nome </h3>
				
				<input type="text" placeholder="Digite seu nickname" id="nickname">
				
				<button> Entrar </button>
			</div>
		</div>
		<div id="chat-container">
		    <h1> Chat </h1>

		    <div>
		        <input type="text" id="message">
		        <button id="send-button"> Enviar </button>
		    </div>
		
		    <div>
		        <ul id="mensagens-recebidas"></ul>
		    </div>
		</div>
	</div>

    <script>
        let ws = new WebSocket("ws://localhost:8080/chat/return");

        let message = document.getElementById("message");
        let sendButton = document.getElementById("send-button");
        let list = document.getElementById("mensagens-recebidas");

        // Enviar mensagem
        sendButton.onclick = function() {
            ws.send(message.value);
        }

        // Ao receber mensagem
        ws.onmessage = function(event) {
        	console.log(event);
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(event.data));
            list.appendChild(li);
        }
    </script>
</body>
</html>